html {
    scroll-behavior: smooth;
}


@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Medium.woff) format("woff");
    font-weight: 200;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0.9), rgba(18,18,18,0.01));
    font-weight: bold;
    font-size: 16px;
    color: #E0E0E0;
}

.banner {
    margin-left:-10px;
    margin-top: -50px;
    margin-bottom: -60px;
}

.banner:hover {
    cursor: default;
    filter: drop-shadow(0 4px 10px rgba(255, 255, 255, 0.2));
}

nav ul {
    display: flex;
    gap: 90px;
    list-style: none;
}

.header-options {
    text-decoration: none;
    color: inherit;
    position: relative;
}

.header-options::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.header-options:hover {
    color: #FFFFFF;
    filter: drop-shadow(0 4px 10px rgba(255, 255, 255, 0.2));
}

.header-options:hover::after {
    width: 100%;
}

.contact-us-link {
    padding: 0;
}

.contact-us-button {
    margin-right: 40px;
    padding: 16px 24px; 
    background-color: #E0E0E0;
    border: none;
    border-radius: 18px;
    outline: none;
    color: #0D0D0D;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contact-us-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
    background-color: #F5F5F5;
}

.contact-us-button:focus {
    outline: none;
    border: none;
}

main {
    padding: 48px;
    color: #FFFFFF;
    font-size: 24px;
}

h1 {
    padding-top: 140px;
    padding-bottom: 80px;
    font-weight: bold;
    font-size: 72px;
}

.text-and-logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: -300px;
    margin-bottom: -300px;
    margin-left: 90px;
}

.text-about-us {
    margin-top: 40px;
    margin-right: 790px;
}

.text-block {
    display: flex;
    align-items: center;
}

.text-block:hover .block {
    opacity: 1;
}

.text-block:hover .highlight-text {
    opacity: 1;
    transform: translateX(0);
}

.highlight-text {
    padding-top: 100px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1.5s ease-out;
}

.highlight-text.show {
    opacity: 1;
    transform: translateX(0);
}

.cards-segment {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.cards {
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.cards:hover {
    transform: perspective(1000px) scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.cards:hover img {
    transform: scale(1.1);
}

.cards::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.cards a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 3;
}

#card-left:hover {
    transform: perspective(1000px) scale(1.05) rotateY(10deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

#card-right:hover {
    transform: perspective(1000px) scale(1.05) rotateY(-10deg);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.text-card {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 2;
}

.text-github {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.text-github a {
    position: relative;
    margin-left: 5px;
    color: #6f42c1;
    text-decoration: none;
}

.text-github a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #6f42c1;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.text-github a:hover::after {
    width: 100%;
}
.contact-segment {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.contacts {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.contacts:visited {
    color: #FFFFFF;
}

.contacts:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.2));
}

.text-contact {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    color: #E0E0E0;
}

hr {
    border: none;
    height: 0.1px;
    background-color: #333333;
    opacity: 0.1;
    margin-bottom: 50px;
}

.solara-name {
    margin-top: -45px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#year {
    margin-right: 20px;
    margin-left: auto;
}

/* Função pro horus: arrumar isso dps (tambem)*/
.blur-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 250;
    background: linear-gradient(to top, rgba(0,0,0,1)0%, rgba(0,0,0,0.1)50%, rgba(0,0,0,0)100%);
    backdrop-filter: blur(0.5px);
    pointer-events: none;
}

/* CONTACTS */
#titulo-meios-de-contato {
    padding-top: 80px;
}

.return-button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    margin-left: 5px;
}

.return-button img {
    z-index: 2;
    pointer-events: none;
}

.return-button a {
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.return-button a:hover {
    background-color: #0D0D0D;
    opacity: 0.3;
}

.return-button a:hover ~ img{ 
    transform: scale(1.01);
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.2));
}